[color]
    ui = true
[log]
    decorate = true
[fetch]
    prune = true
[alias]
    st = status
    br = branch
    co = checkout
    cm = commit
    sh = show
    log-oneline = log  --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=short
    pushfwl = push --force-with-lease
    delete-merged-branches = !git branch --merged | grep -vE '^\\*|master$|develop|main$' | xargs -I % git branch -d %
    # https://gist.github.com/piscisaureus/3342247
    # https://gist.github.com/gnarf/5406589
    pr = "!f() { git fetch --all; git fetch -fu ${2:-$(git remote |grep ^upstream || echo origin)} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
    pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
    fixes = log -1 --pretty=fixes
[core]
    autocrlf = false
    abbrev = 12
    hooksPath = ~/.git-template/hooks
[diff]
    algorithm = histogram
[difftool]
    prompt = false
    trustExitCode = true
[user]
    name = Nobuhiro MIKI
[sendemail]
    confirm = always
[format]
    signoff = true
    pretty = medium
[commit]
    verbose = true
[web]
    browser = open
[include]
    path = ~/.gitconfig.local
[rebase]
    autosquash = true
[init]
    templatedir = ~/.git-template
[pretty]
    # https://docs.kernel.org/process/submitting-patches.html#describe-your-changes
    # e.g. git log -1 --pretty=fixes 3b4a73b7d9c8
    fixes = Fixes: %h (\"%s\")
